<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDateTimeOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7158/DateTimeOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDateTimeOperations"
                contract="Operations.IDateTimeOperations" name="BasicHttpBinding_IDateTimeOperations" />
        </client>
    </system.serviceModel>
</configuration>